{% load i18n %}
<!-- Nav Item - Messages -->
<li class="nav-item dropdown no-arrow mx-1">
  <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-envelope fa-fw"></i>
    <!-- Counter - Messages -->
    <span class="badge badge-danger badge-counter">7</span>
  </a>
  <!-- Dropdown - Messages -->
  <!-- message bg can be empty bg-warning bg-success -->
  <!-- message can have sender image -->
  <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
    <h6 class="dropdown-header">
      {% trans "Message Center" %}
    </h6>
    {% for name, message in messages.items %}
    <a class="dropdown-item d-flex align-items-center" href="#">
      <div class="dropdown-list-image mr-3">
        <img class="rounded-circle" src="{{ message.sender_img }}" alt="">
        <div class="status-indicator {{ message.bg }}"></div>
      </div>
      {% if message.was_read %}
      <div>
      {% else %}
      <div class="font-weight-bold">
      {% endif %}
        <div class="text-truncate">{{ message.short_text }}</div>
        <div class="small text-gray-500">{{ message.sender}} {{ message.time_lapse }}</div>
      </div>
    </a>
    {% endfor %}
    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
  </div>
</li>
