{% load i18n static alerts_tag messages_tag user_tag %}

<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Search -->
  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-search fa-fw"></i>
      </a>
      <!-- Dropdown - Search -->
      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
        <form class="form-inline mr-auto w-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>

    <!-- Nav Item - Alerts -->
    {% set_alert number="1" bg="bg-primary" was_read=False date="December 12, 2019" short_text="A new monthly report is ready to download!" fa_icon="fa-file-alt" as alert_1 %}
    {% set_alert number="2" bg="bg-success" was_read=True date="December 7, 2019" short_text="$290.29 has been deposited into your account!" fa_icon="fa-donate" as alert_2 %}
    {% set_alert number="3" bg="bg-warning" was_read=True date="December 2, 2019" short_text="Spending Alert: We've noticed unusually high spending for your account." fa_icon="fa-exclamation-triangle" as alert_3 %}
    {% alerts_dropdown alert_1 alert_2 alert_3 %}

    <!-- Nav Item - Messages -->
    {% set_message sender="Emily Fowler" bg="bg-success" was_read=False time_lapse="58m" short_text="Hi there! I am wondering if you can help me with a problem I've been having." sender_img="/img/emily.jpeg" as emily_msg %}
    {% set_message sender="Jae Chun" bg="" was_read=True time_lapse="1d" short_text="I have the photos that you ordered last month, how would you like them sent to you?" sender_img="/img/no_img.jpeg" as joe_msg %}
    {% set_message sender="Morgan Alvarez" bg="bg-warning" was_read=False time_lapse="2d" short_text="Last month's report looks great, I am very happy with the progress so far, keep up the good work!" sender_img="/img/morgan.jpeg" as morgan_msg %}
    {% set_message sender="Chicken the Dog" bg="bg-success" was_read=True time_lapse="2w" short_text="Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good..." sender_img="/img/pug.jpeg" as pug_msg %}
    {% message_dropdown emily_msg joe_msg morgan_msg pug_msg %}

    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    {% set_link link="perfil" url="perfil_url" icon="fa-user" as perfil %}
    {% set_link link="configure" url="configure_url" icon="fa-cogs" as config %}
    {% set_link link="Activity Log" url="activity_log_url" icon="fa-list" as activity %}
    {% user_dropdown perfil config activity %}

  </ul>

</nav>
<!-- End of Topbar -->
