<li class="nav-item dropdown no-arrow">
  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.get_username }}</span>
    <img class="img-profile rounded-circle" src="{{ user_img }}">
  </a>
  <!-- Dropdown - User Information -->
  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
    {% for link, lnk in user_links.items %}
    <a class="dropdown-item" href="{{ lnk.url }}">
      <i class="fas {{ lnk.icon }} fa-sm fa-fw mr-2 text-gray-400"></i>
      {{ link }}
    </a>
    {% endfor %}
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
      Logout
    </a>
  </div>
</li>

<!-- {% if user.is_authenticated %}

{% else %}
    <p>Please log in.</p>
{% endif %} -->
