<!-- Project Card Example -->
<!-- this card need projects tipe and a projects dictionary with -->
<!--  a dictionary per project contain project and status -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">{{ projects_type }}</h6>
  </div>
  <div class="card-body">
    {% for project_name, status in projects %}
    <h4 class="small font-weight-bold">{{ project_name }}<span class="float-right">{{ status }}%</span></h4>
    <div class="progress mb-4">
      <div class="progress-bar bg-danger" role="progressbar" style="width: {{ status }}%" aria-valuenow="{{ status }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    {% endfor %}
  </div>
</div>
