<div class="card border-left-{{ bootstrap_color }} shadow h-100 py-2">
  <div class="card-body">
    <div class="row no-gutters align-items-center">
      <div class="col mr-2">
        <div class="text-xs font-weight-bold text-{{ bootstrap_color }} text-uppercase mb-1">{{ title }}</div>
        {% if value|slice:"-1:" == "%" %}
          <div class="row no-gutters align-items-center">
            <div class="col-auto">
              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ value }}</div>
            </div>
            <div class="col">
              <div class="progress progress-sm mr-2">
                <div class="progress-bar bg-{{ bootstrap_color }}" role="progressbar" style="width:{{ value }}" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ value }}</div>
        {% endif %}
      </div>
      <div class="col-auto">
        <!-- Fonte Awesome icons for the card -->
        <!-- Tested fa-calendar fa-dollar-sign fa-clipboard-list fa-comments -->
          <i class="fas {{ fa_icon }} fa-2x text-gray-300"></i>
      </div>
    </div>
  </div>
</div>
