<a href="{{ url }}" class="btn {{ bootstrap_color }}{{ bootstrap_form }}{{ bootstrap_size }}">
  {% if bootstrap_form == " btn-icon-split" %}<span class="icon text-white-50">{% endif %}
    <i class="{{ fa_icon }}"></i>
  {% if bootstrap_form == " btn-icon-split" %}</span>{% endif %}
  {% if bootstrap_form == " btn-icon-split" %}<span class="text">{% endif %}
    {{ caption }}
  {% if bootstrap_form == " btn-icon-split" %}</span>{% endif %}
</a>
{% if bootstrap_form == " btn-icon-split" %}<div class="my-2"></div>{% endif %}
