<!-- Area Chart -->
<div class="col-xl-8 col-lg-7">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">{{ chart_name }}</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">{{ chart_menu.header }}</div>
          {% for item in chart_menu.items %}
            {% if item.type == "link" %}
            <a class="dropdown-item" href="{{ item.url }}">{{ item.name }}</a>
            {% elseif item.type == "divider" %}
            <div class="dropdown-divider"></div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <!-- Consider use Plotly or Dash or Bokeh to generate the charts -->
    <div class="card-body">
      <div class="chart-area">
        {{ chart }}
      </div>
    </div>
  </div>
</div>
