{% extends "base.html" %}
{% load i18n card_tags general_tags button_tag  %}

{% block title %}Buttons{% endblock %}

{% block content %}
    <div class="row">
    {% for group in button_groups %}
      <div class="col-lg-6">
        {% approach_card_open card_header=group.get_group_display %}

        {% for sub_group in button_sub_groups %}
          {% if sub_group.group == group %}
            <div class="mb-2">
              {{ sub_group.get_sub_group_display }}
            </div>
            {% for button in buttons %}
              {% if button.sub_group == sub_group %}
                {% show_button url=button.url bootstrap_color=button.bootstrap_color bootstrap_form=button.bootstrap_form bootstrap_size=button.bootstrap_size fa_icon=button.fa_icon caption=button.caption %}
              {% endif %}
            {% endfor %}

          {% endif %}
        {% endfor %}

        {% approach_card_close %}
      </div>
    {% if forloop.counter|divisibleby:2 %}
      </div>
      <div class="row">
    {% endif %}
    {% endfor %}

    </div>
{% endblock content %}
